
{deps_dir , "deps"}.
{lib_dirs , []}.
{deps     , []}.

%% Erlang compiler options
{erl_opts, [ debug_info
%           , warnings_as_errors
           ]}.

%% Tests and checks
{cover_enabled       , true}.
{cover_print_enabled , true}.
{xref_warnings       , false}.
{xref_checks         , [undefined_function_calls]}.
{xref_queries        , [{"XC || DF",[]}]}. % Deprecated function calls

%%%_* Emacs ====================================================================
%%% Local Variables:
%%% mode: erlang
%%% allout-layout: t
%%% erlang-indent-level: 2
%%% End:
